<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>people</mat-icon>
      <span>Friends</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="pongMenu">
      <mat-icon>sports_esports</mat-icon>
      <span>Pong</span>
    </button>
    <mat-menu #pongMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Singleplayer</span>
      </button>
      <button mat-menu-item>
        <mat-icon>groups</mat-icon>
        <span>Multiplayer</span>
      </button>
      <button mat-menu-item>
        <mat-icon>emoji_events</mat-icon>
        <span>Tournament</span>
      </button>
      <button mat-menu-item>
        <mat-icon>leaderboard</mat-icon>
        <span>Ranklist</span>
      </button>
    </mat-menu>
    <button mat-menu-item (click)="navigateToProfile()">
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
  <span>Transcendence</span>
  <!-- Use flex spacer to push content to the right -->
  <span style="flex: 1 1 auto;"></span>

  <!-- User name and avatar -->
  <span class="user-name">User Name</span>
  <button mat-icon-button (click)="navigateToProfile()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-button (click)="login()">Login with 42</button>
</mat-toolbar>

<!-- Router Outlet -->
<router-outlet></router-outlet>